.main-menu{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(25, 25, 25);
  
}

.application{
  width: 50%;
  height: 100vh;
  border: 1px solid black;
  border-radius: 50px;
  background-image: linear-gradient(.45turn,#448A6D 25px, #448A86 600px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.seats{
  width: 80%;
  height: 105%;
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px ;
  column-gap: 10px;
  border: 1px solid gray;
}

.seats button{
  width: 70px;
  height: 70px;
}

.seats button:active{
  animation: koltuk;
  animation-fill-mode: both;
  transition: 5s;

  
}

.taken{
  background-image: linear-gradient(.45turn,#982A26 25px, #983D26 600px);
}

.avalaible{
  background-image: linear-gradient(.45turn,#2E9D2E 25px, #2E9D53 600px);
}

@keyframes koltuk {
  0%{
    background-image: linear-gradient(.45turn,#2E9D2E 25px, #2E9D53 600px);
  }

  50%{
    background-image: linear-gradient(.45turn,#8E6F30 25px, #8E5130 600px);
  }

  100%{
    background-image: linear-gradient(.45turn,#982A26 25px, #983D26 600px);
  }
  
}